/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  color: var(--decor-color);
}

.decorated-zone::before {
  inset-block-start: var(--page-padding);
  inset-inline-end: var(--page-padding);
  border-block-start: 1px solid currentColor;
  border-inline-end: 1px solid currentColor;
}

.decorated-zone::after {
  inset-block-end: var(--page-padding);
  inset-inline-start: var(--page-padding);
  border-block-end: 1px solid currentColor;
  border-inline-start: 1px solid currentColor;
}

.header,
.footer {
  min-block-size: 668px;
  block-size: 100vh;
  padding: var(--page-padding);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.header__rec {
  position: absolute;
  inset-block-start: var(--page-padding);
  inset-inline-end: calc(var(--page-padding) + 29px);
  color: var(--decor-color);
  line-height: 1.39;
  text-align: center;
}

.header__rec::after {
  content: '';
  position: absolute;
  inset-block-start: 8px;
  inset-inline-start: 43px;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: currentColor;
  box-shadow: 0 0 4px 2px currentColor;
}

.header__theme-menu {
  position: absolute;
  inset-block-start: 75px;
  inset-inline-end: var(--page-padding);
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  min-inline-size: 70px;
  block-size: 26px;
  padding: 0 13px;
  border: none;
  color: var(--button-color);
  line-height: 1;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--accent-color-transparent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid currentColor;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__title,
.footer__title {
  color: var(--main-title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 0.825;
}

.header__title {
  grid-row: 2;
  align-self: center;
  inline-size: min-content;
  text-shadow: 4px 4px 0 var(--main-title-shadow-color);
}

.header__text {
  position: absolute;
  inset-inline-end: var(--page-padding);
  inset-block-end: 66px;
  inline-size: calc(100% - var(--page-padding) * 2);
  max-inline-size: 355px;
}

.title-decor {
  color: var(--title-decor-color);
  font-weight: 700;
  background-color: var(--accent-color);
  text-wrap: balance;
}

.content {
  display: grid;
  gap: var(--section-gap);
  padding: var(--content-block-start) var(--page-padding);
}

.content-section {
  display: grid;
  gap: 20px;
}

.section-title {
  color: var(--section-title-color);
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
}

.cards-list {
  display: grid;
  gap: 20px;
}

.card {
  display: grid;
  gap: 10px;
}

.card__title {
  font-size: inherit;
  font-weight: 700;
  line-height: inherit;
}

.card__title_weight_regular {
  font-weight: 400;
}

.card__text {
  color: var(--text-color);
}

.text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.text-link:hover {
  border-block-end: 1px solid currentColor;
}

.text-link:focus {
  outline: none;
}

.text-link:focus-visible {
  outline: 1px solid currentColor;
}

.gallery-section {
  gap: 10px;
}

.gallery-section__title {
  font-size: inherit;
  line-height: inherit;
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__image_type_sunset {
  block-size: 142px;
}

.gallery__image_type_ice-cream,
.gallery__image_type_books {
  block-size: 355px;
}

.gallery__image_type_tape,
.gallery__image_type_street {
  block-size: 237px;
}

.footer {
  display: grid;
  place-items: center;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--main-title-shadow-color);
}

@media (width >= 768px) {
  .header,
  .footer {
    min-block-size: 768px;
  }

  .header__theme-menu {
    inset-block-start: 192px;
  }

  .header__title,
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    inline-size: max-content;
    margin-inline-start: calc(var(--page-padding) * -1);
  }

  .header__text {
    inset-block-end: 183px;
    max-inline-size: 364px;
  }

  .content-section_type_two-columns {
    grid-template-columns: 1fr 2fr;
  }

  .content-section_type_two-columns .cards-list {
    grid-column: 2;
  }

  .gallery-section {
    gap: 20px;
  }

  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:
      clamp(192px, calc(-12px + 26.5625vw), 260px)
      clamp(230px, calc(-25px + 33.203125vw), 315px)
      clamp(318px, calc(-27px + 44.921875vw), 433px);
    gap: 20px;
  }

  .gallery__image_type_sunset,
  .gallery__image_type_ice-cream,
  .gallery__image_type_tape,
  .gallery__image_type_books,
  .gallery__image_type_street {
    block-size: 100%;
  }

  .gallery__image_type_sunset {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .gallery__image_type_ice-cream {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__image_type_tape {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__image_type_books {
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__image_type_street {
    grid-column: 2 / 4;
    grid-row: 3;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    inset-block-start: var(--page-padding);
    inset-inline-end: auto;
    inset-inline-start: 50%;
    transform: translateX(-50%);
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__text {
    inset-block-end: 134px;
    max-inline-size: 491px;
  }

  .content-section_type_three-columns .section-title {
    max-inline-size: 315px;
  }

  .content-section_type_three-columns .cards-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
